image: docker:27

services:
  - name: docker:27-dind
    command: ["--tls=false"]

variables:
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2
  IMAGE: "registry.gitlab.com/${CI_PROJECT_PATH}/discord-bot"
  TAG: "${CI_COMMIT_SHORT_SHA}"

stages:
  - build

build_and_push:
  stage: build
  script:
    - docker login -u gitlab-ci-token -p "$CI_JOB_TOKEN" registry.gitlab.com
    - docker build -t "${IMAGE}:${TAG}" -t "${IMAGE}:latest" .
    - docker push "${IMAGE}:${TAG}"
    - docker push "${IMAGE}:latest"
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
